<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">

</head>
<body>
  <div class="container">
    <div class="login-box">
      <h1>Budget Finance Friend (BFF)</h1>
      <h2>Login</h2>
      <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
      </form>
      <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
    </div>
  </div>
  
  <script> var username = "{{ username }}"; </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
